body{
    background-color: #ffffff;
    color:#000000;
    margin: 1.5cm;
}


.nota{
    margin: 1cm;
}
    .boton1 {
   
        width: 5.5rem;
        height: 3rem;
        text-align: center;
        padding: 0.6rem; /*espacio alrededor texto*/
        text-decoration: none; /*decoración texto*/
        background-color: #3fc76f; /*color botón*/
        color: #ffffff; /*color texto*/
        font-family: 'Calibri', sans-serif; /*tipografía texto*/
        box-shadow: 2px 2px rgb(112, 112, 112);
        border-color: #000000;
        border-width: 0.1rem;
        margin: 1.5rem;
        border-style: solid;

    
    }
    
    .boton2 {
    
        width: 5.5rem;
        height: 3rem;
        text-align: center;
        padding: 0.6rem; /*espacio alrededor texto*/
        text-decoration: none; /*decoración texto*/
        background-color: #1462d6; /*color botón*/
        color: #ffffff; /*color texto*/
        font-family: 'Calibri', sans-serif; /*tipografía texto*/
        box-shadow: 2px 2px rgb(109, 104, 104);
        border-color: #000000;
        border-width: 0.1rem;
        margin: 1rem;
        border-style: solid;
        top: 1cm;
        }

h1{
    font-family: 'Calibri', sans-serif;
    font-size: 3rem;
    
}

table{
    background-color: #4bd37b;
    width: 80vw;
    height: 60vh;
    border-collapse: collapse;
    border: 2px solid black;
    border-radius: 6px;
    margin-left: 1.5cm;

    
}


.container2{
display: flex;
justify-content: space-between;
}
th, td{
    border: 1px solid black;
}
.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

